Flask==0.10.1
-e git://github.com/kklimuk/flask-sockets.git@d884a689ad53fc29188a19305c2701d4f8f5c3e2#egg=Flask_Sockets-master
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
gevent==1.0
gevent-websocket==0.9.3
greenlet==0.4.2
gunicorn==18.0
itsdangerous==0.24
wsgiref==0.1.2
