<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Room Service</title>
</head>
<body>
	{% if not search %}
		<h1>Existing rooms</h1>
		<h2>There are currently {{rooms|length}} room(s).</h2>
	{% else %}
		<h1>Search results</h1>
		<h2>{{rooms|length}} room(s) matching the query '{{ query }}':</h2>
	{% endif %}

	<ol>
		{% for room in rooms %}
			{% set path = '/' + room %}
			<li><a href={{ path }}>{{room}}</a> with {{ rooms[room]|length }} nodes.</li>
		{% endfor %}
	</ol>
	
	<h3>Search for rooms:</h3>
	<form name="searchForm" action="/" method="post">
		<input type="text" name="search">
		<input type="submit" value="Search">
		<input type="hidden" name="formtype" value="1">
	</form>

	<h3>Create a new room:</h3>
	<form name="roomForm" action="/" method="post">
		<input type="text" name="roomname">
		<input type="submit" value="Create">
		<input type="hidden" name="formtype" value="0">
	</form>

</body>
</html>

